@import 'variables.scss';

::-webkit-scrollbar {
  width: 20px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  //background-color: $main-collor;
}

::-webkit-scrollbar-thumb {
  background-color: $text-collor;
  border-radius: 10px;
  //box-shadow: inset 1px 1px 5px $main-collor;
}

html, body {
  scrollbar-color: $text-collor $main-collor; /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: auto; /* толщина */
}